<div class="page-header">
    <div class="pull-right">
        <button id="{{id}}-new" class="btn btn-success"><i class="icon icon-plus"></i> New Profile</button>
    </div>
    <h3>Profiles <small>({{formatNumber data.length}})</small></h3>
</div>
<div class="page-body">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>CORS Allowed</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody id="{{../id}}-tbody">
        {{#each data}}
            <tr data-id="{{this.id}}">
                <td>{{this.name}}</td>
                <td><input type="checkbox" class="{{../id}}-is-active" data-id="{{this.id}}" data-on-color="success" {{#if this.isActive}}checked{{/if}}/></td>
                <td><input type="checkbox" class="{{../id}}-is-cors-allowed" data-id="{{this.id}}" data-on-color="success" {{#if this.isCorsAllowed}}checked{{/if}}/></td>
                <td>
                    <a href="#index/edit/id/{{this.id}}"
                       class="btn btn-default btn-sm"><i
                            class="icon-pencil"></i> Edit</a>
                    <button data-id="{{this.id}}"
                       class="btn btn-default btn-sm {{../id}}-copy"><i
                            class="icon-copy"></i> Copy</button>
                </td>
            </tr>
        {{else}}
            <tr class="warning">
                <td colspan="5" class="text-center">The list of profiles is empty!</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</div>
